.slide-a {
  background: url("./images/hero/Slide-A.jpg") no-repeat;
  background-size: cover;
}

.slide-b {
  background: url("./images/hero/Slide-B.jpg") no-repeat;
  background-size: cover;
}

.slide-c {
  background: url("./images/hero/Slide-C.jpg") no-repeat;
  background-size: cover;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
