.slide-a {
  background: url("./images/hero/Slide-A.webp") no-repeat;
  background-size: cover;
}

.slide-b {
  background: url("./images/hero/Slide-B.webp") no-repeat;
  background-size: cover;
}

.slide-c {
  background: url("./images/hero/Slide-C.webp") no-repeat;
  background-size: cover;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
